{% extends 'base.html' %}
<html>
{% block meta %}
    <style>
        .image-container {
            width: 100px;  /* Set your desired width */
            height: 150px; /* Set your desired height */
            overflow: hidden;
        }

        .image-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    </style>
{% endblock meta %}



<div class="content"> 
    <table id="item_table"></table>
</div>
</html>

<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }

    async function refreshItems() {
        document.getElementById("item_table").innerHTML = ""
        const items = await getItems()
        let htmlString = `
        <tr style="text-align: center;">
            <th>No.</th>
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Rate</th>
        </tr>
        `
        items.forEach((item) => {
            htmlString += `
            <tr>
                <td>${item.fields.image_url}</td>
                <td>Rp${item.fields.title}.00</td>
                <td style="text-align: justify;">${item.fields.author}</td>
                <td>${item.fields.category}</td>
                <td>${item.fields.rate}
                    <div class="btn-display">
                        <a>
                            <button type="submit" class="btn btn-outline-warning btn-sm edit-item-btn" onclick="addAmount(${item.pk})">+</button>
                        </a>
                    </div>
                </item></td>
            </tr>
        `
        })

        document.getElementById("item_table").innerHTML = htmlString
    }

    refreshItems()

    function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    function addAmount(item_id) {
        fetch(`add_amount_button/${item_id}/`, {
            method: "POST",
        }).then(refreshItems)
        return false
    }