.content {
    margin-top: 8vh;
    padding: 4%;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.whole-footer {
    background-color: #011627ff;
    width: 100%;
}