#app-title {
    font-family: 'Kidstock';
    font-weight: bolder;
    color: #011627ff;
    font-size: 8vh;
    margin: 4vh;
}
#card_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}
.card_item{
    flex-basis: calc(25% - 30px);
    margin: 0 15px 0px;
    overflow: hidden;
    border-radius: 30px;
    min-height: 150px;
    background-color: #121212;
}
.item_link{
    display: block;
    text-align: center;
    background-color: #121212;
    position: relative;
}
.item_link:hover,
.item_link:hover .item_link {
    text-decoration: none;
    color: black;
}
.item_link:hover .book_link{
    text-decoration: none;
}
.item_link:hover .item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.item_title{
    min-height: 100px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
    padding-top: 20px;
    padding-bottom: 0px;
}
.item_bg{
    height: 128px;
    width: 128px;
    background-color: #2ec4b6ff;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.leaderboard{
    background-color: #f9b234;
}
.forum{
    background-color: #e71d36ff;
}
.Writersjam{
    background-color: #011627ff;
}
.item_text{
    font-size: small;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 0;
}
p{
    font-weight: lighter;
}
.book_link{
    display: block;
    text-align: center;
    position: relative;
}

.image-container {
    width: 160px;  /* Set your desired width */
    height: 240px; /* Set your desired height */
    overflow: hidden;
    display: flex;
}
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
#bookmark_list{
    flex-direction: row;
    text-align: center;
    position: relative;
    justify-content: space-around;
    padding: 20px;
    padding-top: 10px;
    display: flex;
}
.mybooks_item{
    flex-direction: row;
    width: 100%;
    border-radius: 30px;
    background-color: #121212;
    height: 430px;
}