.float-main{
    padding-top: 10px;
}
#prompt {
    background-color: rgb(195, 211, 240);
    padding: 10px;
    text-align: center;
}
#submission{
    width: 65%;
    float: left;
    padding: 5px;
    background-color: antiquewhite;
}
#reference{
    width: 30%;
    float: right;
    padding: 5px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reference .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: beige;
    max-width: 300px;
    height: auto;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
}
.btn{
    background-color: white;
    border-radius: 20px;
}
.image-container {
    width: 100px;  /* Set your desired width */
    height: 150px; /* Set your desired height */
    overflow: hidden;
    display: flex;
    border-radius: 10px;
}
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttonAddStory{
    display: flex;
    justify-content: center;
    align-items: center;
}