{% extends 'base.html' %}

{% block meta %}
<!-- <style>
        .image-container {
            width: 100px;  /* Set your desired width */
            height: 150px; /* Set your desired height */
            overflow: hidden;
        }

        .image-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    </style> -->
{% endblock meta %}

{% block content %}

<div class="grid-child">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        
        <tbody>

            {% for product in bookmarked_books %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>
                    <div class="image-container">
                        <img src="{{product.image_url}}"/>
                    </div>
                </td>
                <td>{{product.title}}</td>
                <td>{{product.author}}</td>
                <td>{{product.category}}</td>
            </tr>
            {% endfor %}

        </tbody>
        
    </table>
</div>

<script>
    async function getBookmark() {
        return fetch("{% url 'mybooks:get_bookmark_json' %}").then((res) => res.json())
    }

    async function refreshBookmark() {
        const products = await getBookmark();
        let htmlString = ``
        products.bookmarked_books.forEach((book, index) => {
            // htmlString += `<tr>
            //     <th scope="row">${index + 1}</th>
            //     <td>
            //         <div class="image-container">
            //             <img src="${book.image_url}" />
            //         </div>
            //     </td>
            //     <td>${book.title}</td>
            //     <td>${book.author}</td>
            //     <td>${book.category}</td>
            // </tr>`;
        });
        document.querySelector("table tbody").innerHTML = htmlString;
    }

    refereshBookmark();
</script>

{% endblock content %}