{% extends 'base.html' %}
{% load static %}


{% block title %}My Books{% endblock title %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
<link rel="stylesheet" href="{% static 'css/mybooks.css' %}" />
{% endblock meta %}

{% block content %}
<div class="content">
    <h1 id="app-title">MyBooks</h1>

    <div class="grid-container">

        <div class="grid-child">
            <div class="filters">
                <p style="font-weight: bold;">Sort by Genre</p>
        
                <button class="filter-links" onclick="updateFilter(0)">
                    All
                </button>
                <br/>
                <br/>

                {% for category in categories %}
                <button class="filter-links" onclick="updateFilter({{ category.0 }})">
                    {{ category.1 }}
                </button>
                <br/>
                <br/>
                {% endfor %}
            </div>
        </div>
        
        <div class="grid-child">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cover</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col">Personal Review</th>
                        <th scope="col">Remove</th>
                </thead>
                <tbody id="table_content"></tbody> 
            </table>

        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Personal Review</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form id="formReview" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="review" class="col-form-label">Review:</label>
                            <textarea class="form-control" id="review" name="review" rows=15></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    let pkReview = 0
    let indexFilter = 0

    async function getBookmarks(filter) {
        return fetch(`/mybooks/get_bookmark_json/?category_filter=${filter}`).then((res) => res.json())
    }
    async function refreshBookmarks() {
        document.getElementById("table_content").innerHTML = "";
        const products = await getBookmarks(indexFilter);
        let htmlString = "";
        products.result.forEach((bookmark, index) => {
            const reviewContent = bookmark.review ? `<p>${bookmark.review}</p>` : '';
            htmlString += `
                <tr>
                    <th scope="row">${index + 1}</th>
                    <td>
                        <div class="image-container">
                            <img src="${bookmark.book.image_url}"/>
                        </div>
                    </td>
                    <td>${bookmark.book.title}</td>
                    <td>${bookmark.book.author}</td>
                    <td>${bookmark.book.category}</td>
                    <td>
                        <div class="review-container">
                            ${reviewContent}
                                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="updatePkReview(${bookmark.pk}, '${bookmark.review}')">
                                    ${bookmark.review ? 'Edit' : 'Review'}
                                </button>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="removeBookmark(${bookmark.pk})">Remove</button>
                    </td>
                </tr>
            `;
        });
        document.getElementById("table_content").innerHTML = htmlString;
    }
    refreshBookmarks()

    function removeBookmark(id) {
        fetch("{%url 'mybooks:remove_bookmark' %}", {
            method: "DELETE",
            body: JSON.stringify({ id: id })
        }).then(refreshBookmarks)
    }

    function addReview() {
        fetch(`/mybooks/add_review_ajax/${pkReview}/`, {
            method: "POST",
            body: new FormData(document.querySelector('#formReview'))
        }).then(refreshBookmarks)

        document.getElementById("formReview").reset()
        return false
    }
    document.getElementById("button_add").onclick = addReview

    function updatePkReview(newPk, reviewContent) {
        pkReview = newPk;
        const reviewTextarea = document.getElementById("review");
        if (reviewContent) {
            reviewTextarea.value = reviewContent;
        } else {
            reviewTextarea.value = ""; 
        }
    }

    function updateFilter(newIndex) {
        indexFilter = newIndex
        refreshBookmarks()
    }
</script>


{% endblock content %}