{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>

<footer class="whole-footer text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/NawalaPatra-e12/NawalaPatra/" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #011627ff;">
      © 2023 Copyright:
      <a class="text-white" href="#!">NawalaPatra</a>
    </div>
  </footer>